<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Pet Store API Validation">
  <parameter name="os" value="WIN 10"/>
  <listeners>
    <listener class-name="utilities.ExtentReportManager"></listener>
  </listeners>
  <test name="User Endpoints">
    <classes>
      <class name="test.User_Test"/>
   	</classes>
  </test> <!-- Test -->
  
  <test name="Pet Endpoints">
    <classes>
      <class name="test.Pet_Test"/>
	</classes>
  </test>
  
  <test name="Store Endpoints">
    <classes>
      <class name="test.Store_Test"/>
	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
